.page_print {
  width: 700px;
}
.card_karkon {
  width: 197px;
  height: 338px;
  border: 1px solid #000000;
  border-radius: 10px;
  float: left;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  margin-right: 20px;
  margin-bottom: 7px;
}
.name_card_k {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  border: 0px;
  padding-bottom: 0;
}
.k_location {
  margin: 3px 0;
}
.card_karkon img {
  width: 100%;
  height: auto;
}
.heading_card_k {
  margin: 6px;
}

.percentage {
  background-color: #000;
  color: #fff;
  border-radius: 50%;
  width: 50px;
  height: 48px;
  font-weight: bold;
  padding-top: 14px;
  position: relative;
  margin-top: -58px;
  z-index: 99;
  margin-left: 5px;
}

.date_card_k {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 2px;
}
.pic_card_k {
  overflow: hidden;
  height: 115px;
  margin-bottom: 10px;
}
