.card_karkon {
  width: 173px;
  height: 306px;
  border: 1px solid #000000;
  border-radius: 10px;
  float: left;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  margin-right: -1px;
  margin-bottom: -1px;
}

.name_card_k {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.k_location {
  margin: 7px 0;
}

.card_karkon img {
  width: 100%;
  height: auto;
}

.heading_card_k {
  margin: 5px 16px;
}

.percentage {
  background-color: #000;
  color: #fff;
  border-radius: 50%;
  width: 50px;
  height: 35px;
  font-weight: bold;
  padding-top: 15px;
  position: relative;
  margin-top: -46px;
  z-index: 99;
  margin-left: 5px;
}

.date_card_k {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 6px;
  background-color: black;
  color: #fff;
  padding: 3px 0;
}

.pic_card_k {
  overflow: hidden;
  height: 125px;
  border-radius: 50%;
  width: 125px;
  margin: auto;
  border: 1px solid #ccc;
}

.barcode_card_k {
  width: 120px;
  margin: 6px auto;
}
