/*
 * Base structure
 */

/*
 * Typography
 */

h1 {
  padding-bottom: 9px;
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px 0;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #eee;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
}

/*
 * Dashboard
 */

/* Placeholders */
.placeholders {
  padding-bottom: 3rem;
}

.placeholder img {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

form {
  width: 600px;
}

.list-table-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.list-table-header-section {
  display: flex;
  flex-flow: row nowrap;
  justify-content: left;
  align-items: center;
}

.list-actions-column {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.list-actions-icon {
  cursor: pointer;
  font-size: 20px;
}

@media print {
  .karkun-print-view { padding-left: 50px; padding-top: 50px; width: 800px }
  .salary-receipt-print-view { padding-left: 50px; padding-top: 50px; width: 800px }
  .pagebreak { page-break-before: always; }
}