.card_karkon {
  width: 173px;
  height: 306px;
  border: 1px solid #000000;
  border-radius: 10px;
  float: left;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  margin-right: -1px;
  margin-bottom: -1px;
}

.name_card_k {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  padding-top: 4px;
  padding-bottom: 4px;
  max-width: 166px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.duty_shift_job {
  margin: auto;
}

.card_karkon img {
  width: 100%;
  height: auto;
}

.heading_card_k {
  margin: 5px 16px;
}

.info_container {
  display: flex;
  width: 100%;
  flex-flow: row nowrap;
  justify-content: space-between;
  z-index: 98;
}

.percentage {
  background-color: #000;
  color: #fff;
  border-radius: 10%;
  width: 50px;
  height: 35px;
  font-weight: bold;
  opacity: 0.6;
  padding-top: 8px;
  position: relative;
  margin-top: -36px;
  z-index: 99;
}

.blood_group {
  background-color: #000;
  color: #fff;
  border-radius: 10%;
  width: 50px;
  height: 35px;
  font-weight: bold;
  opacity: 0.6;
  padding-top: 8px;
  position: relative;
  margin-top: -36px;
  z-index: 99;
}

.hidden {
  visibility: hidden;
}

.subheading_card_k {
  font-weight: bold;
  font-size: 14px;
  background-color: black;
  color: #fff;
  padding: 3px 0;
}

.subheading_card_extended_k {
  font-weight: bold;
  font-size: 26px;
  background-color: black;
  color: #fff;
  padding: 3px 0;
}

.pic_card_k {
  overflow: hidden;
  height: 125px;
  width: 100%;
  margin: auto;
  border: 1px solid #ccc;
}

.pic_card_extended_k {
  overflow: hidden;
  height: 175px;
  width: 100%;
  margin: auto;
  border: 1px solid #ccc;
}

.barcode_card_k {
  width: 120px;
  margin: auto;
}
