.mehfil_card {
  width: 215px;
  height: 325px;
  border: 1px solid #000000;
  border-radius: 10px;
  float: left;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  margin-right: -1px;
  margin-bottom: -1px;
}

.mehfil_card_name {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  padding-top: 4px;
  padding-bottom: 4px;
  max-width: 212px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mehfil_card_heading {
  font-weight: bold;
  font-size: 26px;
  color: #000;
  border-bottom: 1px solid #000;
}

.hidden {
  visibility: hidden;
}

.mehfil_card_subheading {
  font-weight: bold;
  font-size: 16px;
  background-color: black;
  color: #fff;
  padding: 3px 0;
}

.mehfil_card_picture {
  overflow: hidden;
  height: 175px;
  width: 100%;
  margin: auto;
  border: 1px solid #ccc;
}

.mehfil_card_duty_shift_job {
  margin: auto;
}

.mehfil_card_barcode {
  width: 120px;
  margin: auto;
  padding: 3px 0;
}
